{% extends 'dashboard/base.html' %}

{% block body %}
    {% for channel in channels %}
        <main role="main">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">
                <img width="100" height="100" src="{{ channel.logo }}" class="rounded float-left" alt="Responsive image" width="100%" height="100%">

        {% for u in channel.users.all %}
            {% if u != request.user %}
{#                {% if u.image %}#}
{#                <img width="100" height="100" src="{{ u.image.url }}" class="rounded float-left" alt="Responsive image" width="100%" height="100%">#}
{#                 {% else %}#}
{#                    <img width="100" height="100" src="#" class="rounded float-left" alt="Responsive image" width="100%" height="100%">#}
{#                 {% endif %}#}
                <a href="{% url 'dashboard:dialog' channel.id %}"
                   style="color:#000000; text-decoration:none">{{ u }}
                    &nbsp; </a>
            {% endif %}
        {% endfor %}
             </strong>
            Text sms
            </p>
           </div>
        </div>
        </main>
    {% endfor %}
{% endblock %}