{% extends 'dashboard/base.html' %}

 {% block body %}
     <main role="main">
     <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 250x250"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">Photo</text></svg>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">News</h2>
          News text
      </div>
    </div>
     </main>
{% endblock %}