{% extends 'dashboard/base.html' %}

{% block body %}
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">It's your posts!</h1>
      <p>You may add a post</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Add &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Name's post</h2>
        <p>Text </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Name's post</h2>
        <p>Text </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Name's post</h2>
        <p>Text</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
      </div>
{% endblock %}